<%= form_for(@auto) do |f| %>
  <% if @auto.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@auto.errors.count, "error") %> prohibited this auto from being saved:</h2>

      <ul>
      <% @auto.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :auto_number %><br>
    <%= f.text_field :auto_number %>
  </div>
  <div class="field">
    <%= f.label :on_ride %><br>
    <%= f.check_box :on_ride %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
