<p id="notice"><%= notice %></p>

<p>
  <strong>Receipt:</strong>
  <%= @ride.receipt %>
</p>

<p>
  <strong>Auto:</strong>
  <%= @ride.auto.auto_number %>
</p>

<p>
  <strong>Location:</strong>
  <%= @ride.location.name %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @ride.amount %>
</p>

